/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(https://i.postimg.cc/pdy0JtnC/374.png);
  background-size: cover;
}
h1{
  color: rgb(250, 166, 26);
}
header{
  height: 60px;
  background-color: rgb(0, 79, 148);
}
footer{
  color: white;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 79, 148);

}
