<div class="col-12 p">
<div class="col-6 f">
  <!-- <div class="d-grid gap-2 col-6 mx-auto pt-5">
    <button class="btn btn-primary" type="button">Profile View</button>
    <button class="btn btn-primary" type="button">Account Statement</button>
    <button class="btn btn-primary" type="button">Money Transfer</button>
    <button class="btn btn-primary" type="button">Balance Check</button>
    <button class="btn btn-primary" type="button">Delete Account</button>
    <button class="btn btn-primary" type="button">Logout</button>
  </div> -->
  <div  class="list-group p-5 text-center ">
    <!-- <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      The current button
    </button> -->
    <button type="button" class="list-group-item list-group-item-action btn btn-success">Profile View</button>
    <button type="button" class="list-group-item list-group-item-action btn btn-primary">Account Statement</button>
    <button type="button" class="list-group-item list-group-item-action btn btn-warning">Money Transfer</button>
    <button type="button" class="list-group-item list-group-item-action btn btn-primary">Balance Check</button>
    <button type="button" class="list-group-item list-group-item-action btn btn-danger">Delete Account</button>
    <button type="button" class="list-group-item list-group-item-action btn btn-primary">Logout</button>
  </div>
</div>
  <div class="col-5 f">
<img class="i" src="https://i.postimg.cc/1XMt0DMy/333888931-1276225009912816-8661324877789608685-n.jpg" alt="">
    <p class="text-warning mt-3">
      Federal Bank is the preferred Personal, NRI and Business banking partner
      for a growing expanse of customers across India, in both urban and rural
      areas. The Bank is driven by the quest to be one of the most admired
      banking institutions in the country. This is just one manifestation of the
      Bank’s powerful ‘Digital at the Fore. Human at the Core’ proposition.
      Federal Bank is continuously scaling up this mantra to reach out,
      meaningfully and impactfully, to more and more customers. Recognised as a
      Great Place to Work, the Bank is continuously striving to become the FIRST
      CHOICE for all Indians. Propelling this journey is our unwavering focus on
      the service of People, within and outside the organisation.
    </p>
  </div>
</div>
